@font-face {
  font-family: 'Open Sans Condensed';
  src: url(fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf);
}
body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}
